@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  display: none;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  background-image: linear-gradient(to right top, #41d7ff, #00c8ff, #00b7ff, #00a4ff, #418fff);

}



@keyframes animate-opacity-0-to-1{
  0%{opacity: 0;}
  100%{opacity: 1;}
}