@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  display: none;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  background-image: white;
  color: black;
}



@keyframes animate-opacity-0-to-1{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes animate-opacity-1-to-0{
  0%{opacity: 1;}
  100%{opacity: 0;}
}